

    .stack-top{
        left: 0 !important;
        line-height: 200px !important;
        margin-top: -100px !important;
        position: absolute !important;
        text-align: center !important;
        top: 50% !important;
        width: 100% !important;
    }

    h1{
        color: #FF3131;
        font-family: 'Romantic', sans-serif;
    }

    body {
        background-color: #000;    
        margin: 0;
        overflow: hidden;
        background-repeat: no-repeat;
      }
