

     .stack-top{

        width: 330px !important;
        height: 100px !important;
        position: absolute !important;
        top:0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        
        margin: auto;
    } 

    h1{
        color: #FF3131;
        font-family: 'Romantic', sans-serif;
    }

    body {
        background-color: #000;    
        margin: 0;
        overflow: hidden;
        background-repeat: no-repeat;
      }
